.App {
  text-align: center;
  background-image: url("jungle-background.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  color: #ffffff;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links li a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.input {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.progress-bar {
  background-color: #ffffff;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress {
  background-color: #00ff00;
  height: 100%;
  border-radius: 10px;
}

.active-link {
  font-weight: bold;
  color: #00ff00;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.uploaded-image {
  max-width: 300px;
  height: auto;
}
